.container {
  white-space: nowrap;
  overflow-x: auto;
  max-width: 100%;
}

.box {
  margin-right: 10px;
  display: inline-block;
}

.header {
  font-weight: 900;
}

.font-color-blue-sub-heading {
  color: rgb(100, 149, 237);
  margin-left: 14px;
  font-weight: 800;
}

.card-bg {
  background-color: #f0f8ff;
  font-weight: 900;
}

.flex-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.font-awesome-plus {
  margin-right: 10px;
  margin-top: 2px;
}
