.border {
  border: 1px solid black;
  width: 75%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.search {
  width: 97%;
  overflow: inherit;
}

.shrc-btn {
  position: absolute;
}